/* !=== UNIVERSAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* !========= INDEX========== */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}
.container__header {
  flex-grow: 1;
  padding: 0.7rem;
  background-color: #35424a;
  color: #e6edf3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #a9508b;

  height: 12%;
}

.header__aside--left h3 span {
  color: #a9508b;
}
.header__ul--right {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.header__ul--right a {
  color: #e6edf3;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.5rem;
}
.header__ul--right li:first-child a:visited {
  color: #a9508b;
}
.header__ul--right a:active {
  color: #a9508b;
}

.header__ul--right a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  color: #a9508b;
}

.container__main {
  flex-grow: 4;

  background-image: url("./img/showcase.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e6edf3;
  text-align: center;
  height: 30%;
}
.container__main--h2 {
  margin-bottom: 1rem;
}

.container__section {
  flex-grow: 1;
  padding: 0.7rem;
  background-color: #35424a;
  color: #e6edf3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 11%;
}

.section__right button {
  text-align: center;
  padding: 0.21rem;
  border-radius: 0.1rem;
  font-size: 0.5rem;
  background-color: darkorange;
  color: white;
  font-weight: 900;
  letter-spacing: -1px;
}
.section__right input:focus {
  outline: 2px solid #a9508b;
}
.section__right button:hover {
  background-color: #a9508b;
}
.container__article {
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  align-content: center;

  text-align: center;
  gap: 1rem;
  background-color: #fff;
  padding: 2rem;
  height: 40%;
}
.container__article img {
  height: 90px;
}
.container__article h2 {
  margin: 20px 0;
}

.container__footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1.5;
  background-color: #35424a;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: #e6edf3;
  height: 10%;
}

.container__footer img {
  height: 20px;
}

/*!============== About  =============== */
.header-about {
  height: 10%;
}
.section-about {
  height: 10%;
}

.article-about {
  height: 70%;
}
.container__article--left p:nth-child(3),
.container__article--right {
  background-color: #35424a;
  color: #e6edf3;
  padding: 1rem;
}

.container__article--left {
  height: 40%;
  text-align: justify;
}
.container__article--right {
  height: 40%;
  text-align: justify;
}

.container__article p {
  margin-top: 1rem;
}

.footer-about {
  height: 10%;
}
/*!============ SERVICES =========*/

.header-services {
  height: 11%;
}
.section-services {
  height: 11%;
}
.article-services {
  justify-content: space-between;
  align-items: flex-start;
  text-align: justify;
  padding: 1rem;
  gap: 1;
  height: 60%;
  margin-bottom: 5rem;
}
.container__article--article {
  padding: 0.5rem;

  flex-basis: 70%;
}
.container__article--form {
  background-color: #35424a;
  padding: 1rem;
  color: #fff;
  flex-basis: 25%;
}

.container__article--section {
  /* background-color: #dedede; */
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  padding: 1rem 2rem 1rem 0.8rem;
}
.container__article--section:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(169, 80, 139, 0.2),
    -2px -2px 5px rgba(169, 80, 139, 0.2), -2px 2px 5px rgba(169, 80, 139, 0.2),
    2px -2px 5px rgba(169, 80, 139, 0.2);
}
.container__article--article h2 {
  margin-top: 0;
  font-size: 1rem;
}
.container__article--article h4 {
  font-size: 0.8rem;
}
.container__article--article p {
  font-size: 0.7rem;
}

.container__article--form h4 {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.container__article--form label {
  font-size: 0.8rem;
}
.container__article--form input {
  width: 100%;
  margin-bottom: 0.2rem;
}
.container__article--form input:focus {
  outline: 2px solid #a9508b;
}
.container__article--form textarea {
  width: 100%;
}
.container__article--form textarea:focus {
  outline: 2px solid #a9508b;
}

.container__article--form button {
  display: block;
  text-align: center;
  padding: 0.3rem;
  border-radius: 0.1rem;
  font-size: 0.5rem;
  background-color: darkorange;
  color: white;
  font-weight: 900;
  letter-spacing: -1px;
  width: 50px;
}
.container__article--form button:hover {
  background-color: #a9508b;
}
.footer-services {
  height: 10%;
}
